:root {
  --header-font: "Julius Sans One", sans-serif;
  --sub-font: "Sulphur Point", sans-serif;
}

.name-home {
  font-family: var(--header-font);
  margin-left: 250px;
  margin-top: 80px;
}

.name-home a {
  color: #020b16;
  text-decoration: none;
}

.name-home a:hover {
  color: #97a8c1;
  transition-duration: 300ms;
}

.page-navigation {
  position: relative;
  top: -49px;
  display: flex;
  justify-content: flex-end;
  margin-right: 250px;
  font-family: var(--sub-font);
}

.page-link {
  margin-left: 50px;
  margin-top: 0;
}

.page-link a {
  text-decoration: none;
  color: #5d6775;
  font-size: 20px;
}

.page-link a:hover {
  color: #97a8c1;
  transition-duration: 300ms;
}

.page-link .current {
  border: solid 1px #97a8c1;
  padding: 6px 18px;
}
