:root {
  --header-font: "Julius Sans One", sans-serif;
  --sub-font: "Sulphur Point", sans-serif;
  --sub-text-color: #5d6775;
  --hover-text: #cedaea;
  --hover-bg: #5e656d;
  --project-bg: #ebf0f6;
}

/*BOOTSTRAP NAVBAR HEADER*/
.navbar {
  padding: 50px;
}
.navbar-brand {
  font-family: var(--header-font);
  font-size: 50px;
  margin-left: 50px;
  color: var(--hover-bg) !important;
}

.navbar-nav {
  margin-left: auto;
  font-family: var(--sub-font);
  margin-right: 50px;
  font-size: 18px;
}

.nav-link {
  color: var(--sub-text-color) !important;
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 100px;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  background-color: rgba(94, 101, 109, 0.85) !important;
  transition: 600ms !important;
}

.sr-only {
  text-decoration: underline;
}

/*BODY OF PAGE*/

/*TITLE AND TITLE IMAGE*/

.container {
  font-family: var(--sub-font);
}

.title-info {
  text-align: right;
}

.title-text h3,
p {
  color: var(--sub-text-color);
}

.title-text h1 {
  font-family: var(--header-font);
  font-size: 4em;
}

.title-text h3 {
  text-decoration: 1.5px underline;
  margin-bottom: 30px;
}

.title-text p {
  font-style: italic;
  font-size: 1.2em;
}

.title-img {
  display: block;
  margin: 0 auto;
  max-width: 600px !important;
}

.title-text {
  margin-top: 200px;
  margin-right: 180px;
}

/*PROJECT OVERVIEW*/
.project-overview-section {
  border: 1px solid var(--hover-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 50px 68px;
}

.project-overview-title {
  margin-bottom: 40px;
}

/*UNDERSTANDING THE USER*/
.understand-user-section {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.understand-user-title {
  margin-bottom: 40px;
}

.pain-points {
  margin-top: 50px;
}

.pain-point-individual {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

/*PERSONA AND PROBLEM STATEMENT*/
.persona-section {
  margin-top: 60px;
  padding: 50px 68px;
}

.boutique-persona-one {
  display: block;
  width: 100% !important;
}

/*USER JOURNEY MAP*/
.user-journey-map-section {
  margin-top: 5px;
  padding: 50px 68px;
}

/*PAPER WIREFRAMES*/
.paper-wireframe-section {
  margin-top: 5px;
  padding: 50px 68px;
}

/*DIGITAL WIREFRAMES*/
.digital-wireframe-section {
  margin-top: 5px;
  padding: 50px 68px;
}

/*USABILITY STUDY FINDINGS*/
.usability-study-findings {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.round-findings {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

.findings {
  padding-top: 20px;
  padding-left: 120px !important;
  padding-right: 120px;
}

.findings-line {
  padding: 10px;
}

.usability-study-title {
  margin-bottom: 40px;
}

/*REFINING THE DESIGN*/
.refining-the-desgin {
  margin-top: 80px;
}

.mockups {
  margin-top: 60px;
  margin-bottom: 80px;
}

/*ACCESSIBILITY*/
.accessibility-section {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.accessibility-point {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

/*REFINED DESIGNS*/
.refined-designs-section {
  margin-top: 80px;
}

/*HI-FI PROTOTYPE*/
.hifi-protorype {
  margin-top: 60px;
}

/*GOING FORWARD*/
.end-section {
  margin-top: 80px;
}
.going-forward {
  margin-bottom: 20px;
}

.takeaways {
  border: 1px solid var(--hover-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 50px 68px;
  margin-bottom: 60px;
}

.takeaway-paragraph {
  padding: 20px 50px;
}

/*NEXT STEPS*/
.next-steps {
  margin-top: 80px;
  margin-bottom: 150px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

/*FOOTER*/
.footer-link {
  padding: 24px;
}

.footer-link a {
  color: var(--sub-text-color);
  text-decoration: none;
}

.footer-link a:hover {
  color: white !important;
  background-color: rgba(94, 101, 109, 0.6) !important;
  transition: 600ms !important;
  padding: 10px 16px;
}

.footer-link .active {
  text-decoration: underline;
}

.footer-link .active a:hover {
  color: red !important;
}

.footer-all {
  margin-bottom: 150px;
}
