:root {
  --header-font: "Julius Sans One", sans-serif;
  --sub-font: "Sulphur Point", sans-serif;
}

.name-home {
  font-family: var(--header-font);
  margin-left: 250px;
  margin-top: 80px;
  max-width: 400px;
  text-decoration: none;
  color: black;
}

.page-navigation {
  position: relative;
  top: -68px;
  display: flex;
  justify-content: flex-end;
  margin-right: 250px;
  font-family: var(--sub-font);
  border: white;
}

.name-home a:hover {
  color: red;
  transition-duration: 300ms;
}

.name-header a:hover {
  color: #97a8c1;
  transition-duration: 300ms;
}

.page-link {
  margin-left: 50px;
  margin-top: 0;
}

.page-link a {
  text-decoration: none;
  color: #5d6775;
  font-size: 20px;
  border-radius: 10px;
}

.page-link a:hover {
  color: black;

  transition-duration: 300ms;
}

.page-link .current {
  text-decoration: underline;
  padding: 6px 18px;
}

@media (max-width: 1260px) {
  .name-header a img {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    margin-top: 50px;
  }

  .page-navigation {
    display: block;
    text-align: center;
    font-size: 18px !important;
    margin: 0 auto;
    max-width: 300px;
    margin-top: 80px;
    padding: 15px;
  }

  .page-link {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
  }

  .page-link a:hover {
    color: black;
  }
}
